 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Hi there! My name is Cameron Jordal and I am currently a third year 
                        Computer and Information Science student at the University of Oregon, expecting 
                        to graduate in June 2021. I took to computer science early on because I 
                        enjoyed seeing projects start from scratch and transform into something useful. 
                        For me, it was always about the ability to create.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        My education has taught me a great deal regarding full stack and application 
                        developement. I also had the opportunity to create a web framework and work on an 
                        online database (POGs) for a Molecular Biology lab at the U.O, respectively. 
                        I am looking to further my experience with software development and machine
                        learning, while also refining my existing knowledge. Feel free to browse around 
                        my website and send me any relevant feedback!
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="resume.pdf" download="Resume" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
